#root {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.episode{
  width: 300px;
  background-color: lightgray;
  margin: 5px;
  padding: 0px 20px 20px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.episodeTitle{
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  /* position: relative; */
  top: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.search{
  margin: 10px;
  display: flex;
  width: 100%;
}
#searchBox{
  width: 22%;
}

.highlight{
  background-color: red;
}

#numberOfResults{
  margin-left: 5px
}
