#root {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.episode{
  width: 300px;
  background-color: lightgray;
  margin: 5px;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

